.copywright {
    color: rgba(255, 255, 255, 0.32);
    display: inline-block;
}

.footer_creators {
    margin: 10px auto;
    bottom: 5px;
    left: 0%;
    font-size: large;
    color: #606874;
    line-height: 16px;
}

.footer {
    background-color: #393e46;
    display: flex;
    flex-direction: row;
    p {
        color: #fff;
        font-family: "Roboto";
    }
    hr {
        background-color: $yell;
        height: 1px;
        width: 15%;
        margin: 10px 0 10px 0;
    }
    a {
        color: $yell;
        &:hover {
            color: #fff;
            transition: all 1s;
        }
    }
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .footer {
        height: 100%;
        span {
            letter-spacing: 0.07em;
            color: #fff;
            font-size: 15px;
            font-family: "Roboto";
        }
        iframe {
            width: 280px;
            height: 250px;
            // margin: 40px 0 0 60px;
            border: 7px solid #fff;
        }
        .footer__map {
            padding: 40px;
        }
        .footer__contacts {
            padding: 40px;
            line-height: 21px;
            font-size: 10px;
            letter-spacing: 0.02em;
            .footer__kafedra {
                margin: 5px 0 40px 0;
                span {
                    font-size: 10px;
                    color: $yell;
                }
            }
            .footer__uni {
                span {
                    font-size: 10px;
                    color: $yell;
                }
            }
        }

        .footer__socialmedia {
            padding: 40px;
            .social {
                margin: 5px 0 40px 0;
                i {
                    color: #fff;
                    font-size: 40px;
                    margin-right: 20px;
                }
            }

            img {
                width: 50px;
            }
        }
    }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1200px) {
    .footer {
        height: 100%;
        span {
            letter-spacing: 0.07em;
            color: #fff;
            font-size: 15px;
            font-family: "Roboto";
        }
        iframe {
            width: 280px;
            height: 250px;
            // margin: 40px 0 0 60px;
            border: 7px solid #fff;
        }
        .footer__map {
            padding: 40px;
        }

        .footer__contacts {
            padding: 40px;
            line-height: 21px;
            font-size: 10px;
            letter-spacing: 0.02em;
            .footer__kafedra {
                margin: 5px 0 40px 0;
                span {
                    font-size: 10px;
                    color: $yell;
                }
            }
            .footer__uni {
                span {
                    font-size: 10px;
                    color: $yell;
                }
            }
        }
        .footer__socialmedia {
            padding: 40px;
            .social {
                margin: 5px 0 40px 0;
                i {
                    color: #fff;
                    font-size: 40px;
                    margin-right: 20px;
                }
            }
            img {
                width: 50px;
            }
        }
    }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 992px) {
    .footer {
        height: 100%;
        span {
            letter-spacing: 0.07em;
            color: #fff;
            font-size: 15px;
            font-family: "Roboto";
        }
        iframe {
            width: 280px;
            height: 250px;
            // margin: 40px 0 0 60px;
            border: 7px solid #fff;
        }
        .footer__map {
            padding: 40px;
        }
        .footer__contacts {
            padding: 40px;
            line-height: 21px;
            font-size: 10px;
            letter-spacing: 0.02em;
            .footer__kafedra {
                margin: 5px 0 40px 0;
                span {
                    font-size: 10px;
                    color: $yell;
                }
                .contacts__title {
                    display: none;
                }
                hr {
                    display: none;
                }
            }
            .footer__uni {
                span {
                    font-size: 10px;
                    color: $yell;
                }
            }
        }

        .footer__socialmedia {
            padding: 40px;
            .social {
                margin: 5px 0 40px 0;
                i {
                    color: #fff;
                    font-size: 30px;
                    margin-right: 20px;
                }
            }
            img {
                width: 50px;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
    .footer {
        height: 100%;
        flex-direction: column;
        span {
            letter-spacing: 0.07em;
            color: #fff;
            font-size: 15px;
            font-family: "Roboto";
        }
        iframe {
            width: 280px;
            height: 250px;
            border: 7px solid #fff;
        }
        .footer__map {
            //    padding: 2% 0 0 30%;
            margin: 5% auto;
            span {
                display: none;
            }
            hr {
                display: none;
            }
        }
        .footer__contacts {
            margin: 2% auto;
            line-height: 21px;
            font-size: 10px;
            letter-spacing: 0.02em;
            display: flex;
            flex-direction: row;
            .footer__kafedra {
                margin: 5px 20px 40px 0;
                span {
                    font-size: 10px;
                    color: $yell;
                }
                padding: 3%;
            }
            .contacts__title {
                display: none;
            }
            hr {
                display: none;
            }
            .footer__uni {
                padding: 3%;
                span {
                    font-size: 10px;
                    color: $yell;
                }
            }
        }

        .footer__socialmedia {
            margin: 2% auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 240px;
            .social {
                display: flex;
                flex-direction: row;
                padding: 5px 0 40px 20%;
                i {
                    color: #fff;
                    font-size: 40px;
                    margin-right: 20px;
                }
            }
            .copywright {
                margin: 0 auto;
            }

            img {
                width: 50px;
            }

            .socialmedia__title {
                display: none;
            }
            hr {
                display: none;
            }
        }
    }
}
