$yell: #FFD369;
$max-font: 56px;
.courses{
	.courses__container{
		padding: 20px;
		.courses__title{
			@media (min-width: 1200px){
				font-size: $max-font;
				padding: 4% 0 0 15%;
			}
			/* Landscape tablets and medium desktops */
			@media (max-width: 1200px){
				font-size: $max-font;
				padding: 4% 0 0 11%;
			}
			/* Portrait tablets and small desktops */
			@media (max-width: 992px){
				font-size: 36px;
				padding: 4% 0 0 0;
				text-align: center;
				.courses__container{
					padding-top: 10px;
				}
			}
			/* Landscape phones and portrait tablets */
			@media (max-width: 768px) {
				font-size: 30px;
				text-align: center;
				padding: 6% 0 0 0;
			}
		}
	}
	background: url("../images/Backgrounds/Courses.svg")no-repeat top left/cover;
	/* Media queries for title*/
	color: $yell;
	/* Large desktops and laptops */
	
	/* End of mediaqueries*/
	.tabs {
		max-width: 100vw;
		margin: 50px auto;
		.tabs__nav{
			display: flex;
			align-items: center;
			background: rgb(50, 56, 64);
			.tabs__nav-btn{
				color:#fff;
				text-decoration: none;
				padding: 15px 30px;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 18px;
				max-width: 380px;
				height: 80px;
    			background: #393E4680;
    			cursor: pointer;
				border-radius: 0px 10px 10px 0px;
				&.active {
					background-color: #4E4E53;
					color: #fff;
				}
				&:nth-child(2){
					//margin-left: -10px;
				}	
				&:nth-child(3){
					//margin-left: -10px;
				}			
			}
		}
		.tabs__item{
			display: none;
			tr{
				th{
					color:#fff;
					font-style: normal;
					font-weight: normal;
					font-size: 15px;
					line-height: 18px;
					height: 100px;
					border:none;
					text-transform: uppercase;
					background: rgb(78, 78, 83);
				}
				td{
					color:#000;
					font-style: normal;
					font-weight: normal;
					font-size: 17px;
					line-height: 18px;
					align-items: center;
					text-align: center;

					height: 110px;
					width: 190px;
					background:$yell;

					padding: 0 3px;
				}
			}	
			&.active{
				display: block;
			}
		}
	}
}