@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$yell: #FFD369;
$max-font: 56px;
.courses{
	font-family: 'Roboto', sans-serif;
	.courses__container{
		padding: 20px;
		.courses__header{
			@media (min-width: 1200px){
				font-size: $max-font;
				padding: 4% 0 0 15%;
			}
			@media (max-width: 1350px){
				font-size: $max-font;
				padding: 6% 0 0 11%;
			}
			/* Landscape tablets and medium desktops */
			@media (max-width: 1200px){
				font-size: $max-font;
				padding: 8% 0 0 11%;
			}
			/* Portrait tablets and small desktops */
			@media (max-width: 992px){
				font-size: 36px;
				padding: 6% 0 0 0;
				text-align: center;
				.courses__container{
					padding-top: 10px;
				}
			}
			/* Landscape phones and portrait tablets */
			@media (max-width: 768px) {
				font-size: 30px;
				text-align: center;
				padding: 6% 0 0 0;
			}
		}
	}
	/* Media queries for title*/
	color: $yell;
	/* Large desktops and laptops */
	
	/* End of mediaqueries*/
	.tabs {
		max-width: 100vw;
		margin: 50px auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width:1000px) {
			align-items: flex-start;
		}
		.tabs__nav{
			display: flex;
			
			background: rgb(50, 56, 64);
			.tabs__nav-btn{
				color:#fff;
				text-decoration: none;
				padding: 15px 30px;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 18px;
				height: 80px;
				background-color: inherit;
    			cursor: pointer;
				border-radius: 0px 10px 10px 0px;
				@media (max-width:900px) {
					font-size: 16px;
					line-height: 17px;
					height: 60px;
				}
				@media (max-width:760px) {
					font-size: 16px;
					line-height: 17px;
					height: 120px;
					max-width: 250px;
				}
				&.active {
					background-color: #4E4E53;
					color: #fff;
				}
				&:nth-child(1){
					z-index: 6;
				}	
				&:nth-child(2){
					margin-left: -10px;
					z-index: 5;
				}	
				&:nth-child(3){
					margin-left: -10px;
					z-index: 4;

				}			
			}
		}

		.tabs__item{
			display: none;
			tr{
				th{
					color:#fff;
					font-style: normal;
					font-weight: normal;
					font-size: 15px;
					line-height: 18px;
					height: 100px;
					border:none;
					text-transform: uppercase;
					background: rgb(78, 78, 83);
				}
				td{
					color:#000;
					font-style: normal;
					font-weight: normal;
					font-size: 17px;
					line-height: 18px;
					align-items: center;
					text-align: center;

					height: 110px;
					width: 190px;

					padding: 0 3px;
				}
			}	
			&.active{
				display: block;
			}
		}
	}
	.courses__info{
		max-width: 1200/1920*100%;
		margin: 0 auto;
		text-align: center;
		@media (max-width:530px) {
			max-width: 1600/1900*100%;
		}
		.program_container{
			h2{
				font-weight: 700;
				font-size:36px;
				line-height: 42px;
				@media (max-width:690px) {
					font-size:27px;
				}
			}
			p{
				font-weight: 400;
				font-size:24px;
				color:#fff;
				line-height: 28px;
				margin: 20px 0;
				@media (max-width:690px) {
					font-size:16px;
				}
			}
		}
		.additional_info__container{
			h3{
				font-weight: 700;
				font-size:24px;
				line-height: 28px;
				@media (max-width:690px) {
					font-size:16px;
				}
			}
			p{
				font-weight: 400;
				font-size:24px;
				color:#fff;
				line-height: 28px;
				margin: 20px 0;
				@media (max-width:690px) {
					font-size:16px;
				}
			}
		}
	}
}