$yell: #FFD369;
$dark:#222831;
.header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	&:before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

	}
	.header__body{
		padding: 20px 0 ;
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		max-height: 200px;
		align-items: center;
		.header__logo img{
			height: 150px;
			@media (max-width: 1480px) {
				height: 125px;
			}
			@media (max-width: 1235px) {
				height: 100px;
			}
		}
		.header__menu{
			.header__ul{
				display: flex;	
			}
		}
		.header__li{
			text-decoration: none;
			padding: 20px 30px;
			border: 1px solid rgba(0,0,0,0);
			@media (max-width: 1235px){
				padding: 10px 15px;
			}
			&:hover{
				border-bottom: 1px solid $yell;
				border-radius: 40%;
				transform: translateY(-3px);
			}
			&:hover  .header__link{
				color:$yell;
			}
			.header__link{
				color:#fff;
				font-size: 24px;
				line-height: 28px;
				@media (max-width: 1480px) {
					font-size: 18px;
					line-height: 22px;
				}
			}
		}	
	}
}