@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:ital,wght@0,400;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*------Variable----*/
/*------Mixins----*/
/*------Container----*/
.container {
  margin: 0 auto;
  max-width: 83.3333333333%;
}

/*------Section-top----*/
section {
  min-height: 100vh;
  max-width: 100vw;
}

.section-top {
  z-index: 1;
  background: url("../images/background.svg") no-repeat center top/cover;
  display: flex;
  text-align: center;
  align-items: center;
}
.section-top .section-top__title {
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  color: #FFD369;
  margin-top: 125px;
}
@media (max-width: 1480px) {
  .section-top .section-top__title {
    font-size: 54px;
  }
}
@media (max-width: 1235px) {
  .section-top .section-top__title {
    font-size: 44px;
  }
}
@media (max-width: 990px) {
  .section-top .section-top__title {
    font-size: 34px;
  }
}
@media (max-width: 700px) {
  .section-top .section-top__title {
    font-size: 24px;
    line-height: 40px;
  }
}
@media (max-width: 500px) {
  .section-top .section-top__title {
    font-size: 20px;
    line-height: 40px;
  }
}
.section-top .section-top__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 56.25px;
  color: #fff;
}
@media (max-width: 1480px) {
  .section-top .section-top__subtitle {
    font-size: 38px;
  }
}
@media (max-width: 1235px) {
  .section-top .section-top__subtitle {
    font-size: 28px;
  }
}
@media (max-width: 990px) {
  .section-top .section-top__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .section-top .section-top__subtitle {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .section-top .section-top__subtitle {
    font-size: 12px;
  }
}
.section-top .section-top__btn {
  margin: 120px 0 30px;
  transition: 0.3s linear;
}
.section-top .section-top__btn .btn {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 37px;
  color: #222831;
  padding: 20px 20px;
  background: #FFD369;
  border-radius: 3px;
}
@media (max-width: 1480px) {
  .section-top .section-top__btn .btn {
    font-size: 22px;
    line-height: 27px;
  }
}
@media (max-width: 990px) {
  .section-top .section-top__btn .btn {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .section-top .section-top__btn .btn {
    line-height: 20px;
    font-size: 12px;
  }
}
.section-top .section-top__btn:hover {
  transform: translateY(5px);
}
.section-top .section-top__btn:hover .btn {
  color: #FFD369;
  background-color: rgba(26, 46, 61, 0.8);
}

/*------Header----*/
.header {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 50;
}
.header.scrolled {
  background: rgba(15, 16, 20, 0.97);
}
.header.scrolled .header__li {
  border-left: 1px solid #FFD369;
}
.header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.header .header__body {
  padding: 20px 0;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  max-height: 200px;
  align-items: center;
}
.header .header__body .header__logo img {
  height: 150px;
}
@media (max-width: 1480px) {
  .header .header__body .header__logo img {
    height: 125px;
  }
}
@media (max-width: 1235px) {
  .header .header__body .header__logo img {
    height: 100px;
  }
}
@media (max-width: 500px) {
  .header .header__body .header__logo img {
    height: 70px;
  }
}
.header .header__body .header__menu .header__ul {
  display: flex;
}
.header .header__body .header__li {
  text-decoration: none;
  padding: 20px 30px;
  border: 1px solid rgba(0, 0, 0, 0);
}
@media (max-width: 1235px) {
  .header .header__body .header__li {
    padding: 10px 15px;
  }
}
.header .header__body .header__li:hover {
  border-bottom: 1px solid #FFD369;
  border-radius: 40%;
  transform: translateY(-3px);
}
.header .header__body .header__li:hover .header__link {
  color: #FFD369;
}
.header .header__body .header__li .header__link {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}
@media (max-width: 1480px) {
  .header .header__body .header__li .header__link {
    font-size: 18px;
    line-height: 22px;
  }
}

/*------Burger----*/
/* some SCSS variables */
/* end var */
@media (max-width: 990px) {
  .header__end {
    display: none;
  }

  .toggle-burger {
    z-index: 6;
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: background 0.3s;
    /* --- animate to X --- */
  }
  .toggle-burger + .header__menu {
    display: none;
  }
  .toggle-burger:focus {
    outline: none;
  }
  .toggle-burger span {
    display: block;
    position: absolute;
    top: 24px;
    left: 10px;
    right: 10px;
    height: 2px;
    background: #FFD369;
  }
  .toggle-burger span::before, .toggle-burger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFD369;
    content: "";
  }
  .toggle-burger span::before {
    top: -12px;
  }
  .toggle-burger span::after {
    bottom: -12px;
  }
  .toggle-burger.toggle-burger__animx {
    /* when menu open: */
  }
  .toggle-burger.toggle-burger__animx span {
    z-index: 100;
    transition: background 0s 0.3s;
  }
  .toggle-burger.toggle-burger__animx span::before, .toggle-burger.toggle-burger__animx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }
  .toggle-burger.toggle-burger__animx span::before {
    transition-property: top, transform;
  }
  .toggle-burger.toggle-burger__animx span::after {
    transition-property: bottom, transform;
  }
  .toggle-burger.toggle-burger__animx.is-active + .header__menu {
    display: block;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(34, 40, 49, 0.95);
  }
  .toggle-burger.toggle-burger__animx.is-active + .header__menu .header__ul {
    margin-top: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
  }
  .toggle-burger.toggle-burger__animx.is-active + .header__menu .header__ul .header__li {
    border-bottom: 1px solid #ffd369;
  }
  .toggle-burger.toggle-burger__animx.is-active span {
    background: none;
    z-index: 100;
  }
  .toggle-burger.toggle-burger__animx.is-active span::before, .toggle-burger.toggle-burger__animx.is-active span::after {
    background-color: #e9a400;
    transition-delay: 0s, 0.3s;
  }
  .toggle-burger.toggle-burger__animx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
  }
  .toggle-burger.toggle-burger__animx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
}
/* button starting stylings ------------------------------- */
/*------About us----*/
/* some SCSS variables */
/* end var */
.about-us {
  background: url("../images/About.svg") no-repeat top left/cover;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.about-us span {
  color: #FFD369;
}
.about-us .about-us__title {
  color: #FFD369;
  font-weight: 700;
  /* Media queries for title*/
  /* Large desktops and laptops */
  /* Landscape tablets and medium desktops */
  /* Portrait tablets and small desktops */
  /* Landscape phones and portrait tablets */
  /* End of mediaqueries*/
}
@media (min-width: 1200px) {
  .about-us .about-us__title {
    font-size: 56px;
    padding: 4% 0 0 15%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .about-us .about-us__title {
    font-size: 56px;
    padding: 4% 0 0 11%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .about-us .about-us__title {
    font-size: 36px;
    padding: 4% 0 0 0;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .about-us .about-us__title {
    font-size: 30px;
    text-align: center;
    padding: 6% 0 0 0;
  }
}
.about-us .about-us__text {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  padding: 10% 0 10% 0;
}
.about-us .details {
  font-size: 20px;
  line-height: 35px;
}
@media (max-width: 768px) {
  .about-us .details {
    padding: 30% 0 20% 0;
  }
}
.about-us .about-us__subtitle {
  font-size: 48px;
  text-align: center;
  padding-top: 40px;
  /* Media queries for the subtitle*/
  /* Portrait tablets and small desktops */
  /* Landscape phones and portrait tablets */
  /* End of mediaqueries*/
}
@media (min-width: 768px) and (max-width: 992px) {
  .about-us .about-us__subtitle {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .about-us .about-us__subtitle {
    font-size: 26px;
  }
}

.photo-container {
  display: grid;
  row-gap: 91px;
  padding-top: 5%;
  /* Media queries for the photogrid*/
  /* Large desktops and laptops */
  /* Landscape tablets and medium desktops */
  /* Portrait tablets and small desktops */
  /* Landscape phones and portrait tablets */
  /* End of media queries */
}
@media (min-width: 1200px) {
  .photo-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .photo-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .photo-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
}
@media (max-width: 768px) {
  .photo-container {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}
.photo-container .photo-container__item {
  text-align: center;
}
.photo-container .photo-container__item p {
  padding-top: 5%;
  font-size: 18px;
}

/* Text underline animation*/
@media (min-width: 992px) {
  .effect-underline:after {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    height: 44px;
    width: 100%;
    border-bottom: 1px solid #FFD369;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.35s, transform 0.7s;
    transform: scale(0, 1);
  }

  .effect-underline:hover:after {
    opacity: 0.5;
    transform: scale(1);
  }
}
/*------History----*/
.history {
  background: url("../images/History.svg") no-repeat top left/cover;
}

/*------Courses----*/
.courses {
  background: url("../images/Courses.svg") no-repeat top left/cover;
}

/*------Slider----*/
.slider {
  margin-top: 100px;
  padding: 0 40px;
  position: relative;
}
.slider .slider__item {
  margin: 0 70px;
  display: flex;
  text-align: left;
  background: white;
  border-radius: 2%;
}
.slider .slider__item .slider__item-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 75%;
  padding: 50px 10px 70px 50px;
  font-family: "DM Serif Display", serif;
}
@media (max-width: 870px) {
  .slider .slider__item .slider__item-content {
    padding: 0 0 70px;
  }
}
@media (max-width: 630px) {
  .slider .slider__item .slider__item-content {
    padding-bottom: 0px;
  }
}
.slider .slider__item .slider__item-content .dots {
  height: 50px;
  width: 50px;
  background: url("../images/Comas.png") no-repeat;
}
@media (max-width: 730px) {
  .slider .slider__item .slider__item-content .dots {
    display: none;
  }
}
.slider .slider__item .slider__item-content .name {
  font-size: 26px;
  letter-spacing: 3%;
  text-align: center;
}
@media (max-width: 970px) {
  .slider .slider__item .slider__item-content .name {
    font-size: 20px;
  }
}
@media (max-width: 870px) {
  .slider .slider__item .slider__item-content .name {
    margin-top: 20px;
  }
}
.slider .slider__item .slider__item-content .position {
  margin-top: 30px;
  font-size: 18px;
  font-style: italic;
  line-height: 28px;
  text-align: center;
}
@media (max-width: 970px) {
  .slider .slider__item .slider__item-content .position {
    font-size: 14px;
  }
}
@media (max-width: 730px) {
  .slider .slider__item .slider__item-content .position {
    margin-bottom: 50px;
  }
}
.slider .slider__item .slider__item-content .info {
  font-family: "open sans";
  font-weight: 400;
  line-height: 27px;
  font-size: 18px;
  color: #6E798C;
  margin: 30px 0;
  text-align: center;
}
@media (max-width: 970px) {
  .slider .slider__item .slider__item-content .info {
    font-size: 14px;
  }
}
@media (max-width: 870px) {
  .slider .slider__item .slider__item-content .info {
    text-align: center;
  }
}
@media (max-width: 730px) {
  .slider .slider__item .slider__item-content .info {
    display: none;
  }
}
.slider .slider__item .slider__item-content .more {
  position: absolute;
  bottom: 70px;
  font-family: "open sans";
  font-weight: 300;
  line-height: 27px;
  font-size: 18px;
  color: #6E798C;
  font-style: italic;
}
@media (max-width: 720px) {
  .slider .slider__item .slider__item-content .more {
    line-height: 27px;
    font-size: 14px;
    bottom: 30px;
    right: 20px;
  }
}
.slider .slider__item .slider__item-photo {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.slider .slider__item .slider__item-photo .slider__item-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 730px) {
  .slider .slider__item .slider__item-photo .slider__item-head {
    justify-content: center;
  }
}
.slider .slider__item .slider__item-photo img {
  max-width: 165px;
}
@media (max-width: 670px) {
  .slider .slider__item .slider__item-photo img {
    max-width: 130px;
  }
}
.slider .slider__item .slider__item-photo a {
  text-align: left;
  color: #6E798C;
}
@media (max-width: 400px) {
  .slider .slider__item .slider__item-photo a {
    font-size: 12px;
  }
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -70px 10px 0 10px;
  z-index: 10;
  font-size: 0;
  width: 58px;
  height: 70px;
}
.slider .slick-prev {
  left: 0;
  background: url("../images/Arrow L.svg") 0 0/100% no-repeat;
}
.slider .slick-next {
  right: 0;
  background: url("../images/Arrow R.svg") 0 0/100% no-repeat;
}
.slider .slick-dots {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 20px;
}
@media (max-width: 630px) {
  .slider .slick-dots li {
    margin: 0 10px;
  }
}
.slider .slick-dots .slick-active button {
  width: 38px;
  height: 38px;
}
@media (max-width: 630px) {
  .slider .slick-dots .slick-active button {
    width: 19px;
    height: 19px;
  }
}
.slider .slick-dots button {
  background: #FFD369;
  font-size: 0;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}
@media (max-width: 630px) {
  .slider .slick-dots button {
    width: 9px;
    height: 9px;
  }
}

/*Стандартні класи  слайдера*/
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slick-slide {
  text-align: center;
}
@media (max-width: 470px) {
  .slick-slide {
    max-width: 60vw;
  }
}

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
/*------Workers----*/
.workers {
  background: url("../images/Workers.svg") no-repeat top left/cover;
}
.workers .worckers__title {
  padding-top: 1.5%;
  padding-left: 18%;
  font-size: 56px;
  line-height: 50px;
  color: #FFD369;
  font-style: "Montserrat";
}
@media (max-width: 1700px) {
  .workers .worckers__title {
    padding-left: 35%;
  }
}
@media (max-width: 1400px) {
  .workers .worckers__title {
    padding-left: 32%;
  }
}
@media (max-width: 1050px) {
  .workers .worckers__title {
    padding-top: 7.5%;
  }
}
@media (max-width: 730px) {
  .workers .worckers__title {
    font-size: 40px;
    padding-left: 17%;
  }
}
@media (max-width: 520px) {
  .workers .worckers__title {
    font-size: 26px;
  }
}

/*------Robototechnics----*/
.robototechnics {
  background: url("../images/Robotechnics.svg") no-repeat top left/cover;
}