@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:ital,wght@0,400;1,300&display=swap');
$yell: #FFD369;
.slider{
	margin-top: 100px;
	padding: 0 40px;
	position: relative;

	.slider__item{
		margin: 0 70px;
		display: flex;
		text-align: left;
		background: white;
		border-radius: 2%;
		.slider__item-content{
			display: flex;
			position: relative;
			max-width: 75%;
			padding: 50px 0px 70px 50px;
			font-family: 'DM Serif Display', serif;
			.dots{
				height: 50px;
				width: 50px;
				background:url("../images/Comas.png")no-repeat ;
			}
			.name{
				font-size: 26px;
				letter-spacing: 3%;
			}
			.position{
				margin-top: 30px;
				font-size: 18px;
				font-style: italic;
				line-height: 28px;
			}
			.info{
				font-family: 'open sans';
				font-weight: 400;
				line-height: 27px;
				font-size: 18px;
				color:#6E798C;
				margin: 30px 0 ;
			}
			.more{
				position: absolute;
				bottom: 70px;
				font-family: 'open sans';
				font-weight: 300;
				line-height: 27px;
				font-size: 18px;
				color:#6E798C;
				font-style: italic;
			}
		}
		.slider__item-photo{
			display: flex;
			align-items: center;
			flex-direction: column;
			padding-top: 10%;
			padding-right: 20px;
			font-family: Open Sans;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 27px;
			img{
				max-width: 165px;
			}
			a{
				text-align: left;
				color: #6E798C;
			}

		}
	}
	.slick-arrow{
		position: absolute;
		top: 50%;
		margin: 35px 0 0 0 ;
		z-index: 10;
		font-size: 0;
		width: 58px;
		height: 70px;
	}
	.slick-prev{
		left: 0;
		background: url("../images/Arrow L.svg")0 0 /100% no-repeat;
	}
	.slick-next{
		right: 0;
		background: url("../images/Arrow R.svg")0 0 /100% no-repeat;
	}
	.slick-dots{
		margin: 30px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		li{
			list-style: none;
			margin: 0 20px;
		}
		.slick-active{
			button{
				width: 38px;
			height: 38px;
			}
		}
		button{
			background: $yell;
			font-size: 0;
			width: 19px;
			height: 19px;
			border-radius: 50%;
		}
	}
}












/*Стандартні класи  слайдера*/
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}
/* Слайд */
.slick-slide{
	text-align: center;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{

}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}